.center{
    display: flex;
    align-items: center;
    justify-content:center ;
    height: 600px;
    column-gap: 100px;
}
.contact{
    display: flex;
    height: 500px;
}
.icon{
    font-size: 30px!important;
    color: aliceblue!important;
    margin-right: 10px;
}
.iconContainer{
    display: flex;
    align-items: center;

}